.attempts-text{
    font-size: 18px;
    color: #333333;
    margin: 0;
    padding: 0;
}
.profile-entry-name{
    font-size: 20px;
    color: #333333;
    margin: 0;
    padding: 0;
}
.profile-entry{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 5px 0;
    border-bottom: 2px solid #5eaaa8;
}
